body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#colr{
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px #555555;
  font-size: 60px;
}

#logo{
  color: rgb(0, 0, 255);
  text-shadow: 2px 2px 4px #414141;
  font-size: 30px;
  
}

#font{
  font-size: 20px;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px #414141;
  font-weight: 500;



}


#font:hover{
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px #7e7e7e;



}